doctype html
html
  head
    title
      | CsTemplate
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
      |  <a class="navbar-brand" href="
      = root_path
      | ">Coder Ticket
      ul.nav.navbar-nav
        - if user_signed_in?
          li.nav-item
            = link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          li.nav-item
            = link_to "Log In", new_user_session_path
          li.nav-item
            = link_to "Sign Up", new_user_registration_path
    = yield
